on: pull_request

jobs:
  example_comment_pr:
    runs-on: ubuntu-latest
    name: Эта задача оставляет комментарий к пулл реквесту
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            Привет! :wink: Это уже не первый pul request. Тест источника вызова бота!
            Если сообщение изменено значит отрабатывает workflows ветки dev.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
